body {
    background-color: gray;
}
h1 {
    color: #1e1f1e; /* Color del texto (verde en este ejemplo) */
    font-size: 2.5em; /* Tamaño de la fuente */
    font-weight: bold; /* Peso de la fuente (negrita) */
    text-align: center; /* Alineación del texto */
    margin-bottom: 20px; /* Margen inferior */

    /* Personalización de la fuente */
    font-family: 'Arial', sans-serif; /* Tipo de fuente y fuentes de respaldo */
    text-transform: uppercase; /* Transforma el texto a mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra del texto */
}
nav {
    background-color: #333; /* Color de fondo de la barra de navegación */
}

nav ul {
    justify-content: space-around; /* Distribuir los elementos de la lista de manera uniforme */
    padding: 10px; /* Añadir relleno a la lista */
}
nav li {
    display: inline; /* Hacer que los elementos de la lista se muestren en línea */
}
main { 
    display: flex;
}
section {
    flex: 1;
}

/* Estilos para el aside */
aside {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px; /* O ajusta según tus necesidades */
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    outline: none;
    cursor: pointer;    
    border: none;
    border-radius: 5px;
    background-color: #3498db; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    transition: background-color 0.3s;

}
.btn:hover {
    background-color: #2980b9; /* Cambia el color de fondo al pasar el ratón */
}
.cont_severus {
    width: 300px; /* Ancho del contenedor */
    height: 300px; /* Altura del contenedor */
    border: 1px solid #ccc; /* Borde para visualizar el contenedor */
    position: relative; /* Establecer posición relativa para los elementos hijos */
}
.severus {
    width: 100%; /* Hacer que la imagen ocupe el 100% del contenedor */
    height: 100%; /* Hacer que la imagen ocupe el 100% del contenedor */
    object-fit: cover; /* Ajustar la imagen para cubrir completamente el contenedor manteniendo la relación de aspecto */;
}
