body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    }
h1 {
    color: #1e1f1e; /* Color del texto (verde en este ejemplo) */
    font-size: 2.5em; /* Tamaño de la fuente */
    font-weight: bold; /* Peso de la fuente (negrita) */
    text-align: center; /* Alineación del texto */
    margin-bottom: 20px; /* Margen inferior */

    /* Personalización de la fuente */
    font-family: 'Arial', sans-serif; /* Tipo de fuente y fuentes de respaldo */
    text-transform: uppercase; /* Transforma el texto a mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra del texto */
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    outline: none;
    cursor: pointer;    
    border: none;
    border-radius: 5px;
    background-color: #3498db; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    transition: background-color 0.3s;

}
.btn:hover {
    background-color: #2980b9; /* Cambia el color de fondo al pasar el ratón */
}


.grid-layout {
    height: 540px;
    display: grid;
    grid-template-areas:    'cabecera cabecera'
                            'menu menu'
                            'contenido lateral'
                            'footer footer';
    grid-template-rows: 20% 15% auto 15%;

    background-color: lightgreen;
  
}   
.caja { 
    background-color: lightgray;
    text-align: center;

}

.nav li{
    display:inline;
    
}

.c1 {
    grid-area: cabecera;
    background-color: grey;
}
.c2 {
    grid-area: menu;
    background-color:lightslategray;
}
.c3 {
    display: flex;
    grid-area: contenido;
    background-color: wheat;    
}
.c4 {
    grid-area: lateral;
    background-color: lawngreen ;
}
.c5 {
    grid-area: footer;
    background-color: lightblue;
}

.figure1 {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
  }

.severus {
    max-width: 350px;
    max-height: 300px;
    object-fit: cover;
}
.figcaption1 {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }
  